#myname{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.initbiopage{
    background-color:#d4cfc9;
    background-image: url(images/webbing.png);
    background-size: 150px;
    background-repeat: no-repeat;
}
